body{
    background-color: white;
}

#List {
    margin: 16px 0;

}

#List label{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

#List select{
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
    width: 25%;
    font-display: center;
    border: none;
    font-size: 30px;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Verdana", sans-serif;
    color: #455727;
}

#List select option{
    font-display: center;
    text-align: center;
    color: #455727;
    font-family: "Verdana", sans-serif;
    font-size: 30px;
}

#periodo{
    color: #58692E;
    font-size: 24px;
    margin: 16px;
}

#form_periodo{
    color: #58692E;
    margin: 16px;
}

.total_graf{
    font-size: 20px;
    color: #BFBF5E;
    font-family: "Verdana", sans-serif;
}
/*.botao{
    text-align: right;
    padding: 32px 256px;
}

#Corrente_graf{
    display: none;
}

#Tensao_graf{
    display: none;
}

#Fp_graf{
    display: none;
}

#Ativa_graf{
    display: none;
}

#Reativa_graf{
    display: none;
}

#Aparente_graf{
    display: none;
} */